rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 開発環境では全てのアクセスを許可
    match /{document=**} {
      allow read, write: if true;
    }
  }
}