@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-audiowide: var(--font-audiowide);
  --color-accent: #000000;
  --color-accent-foreground: #ffffff;
  --color-border: #e5e5e5;
  --color-input: #ffffff;
  --color-ring: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-audiowide), Arial, Helvetica, sans-serif;
}
